<% if @adventure.author == current_user %>
  <%= link_to "Edit Adventure", edit_adventure_url(@adventure) %>
<% end %>

<ul>
  <li><%= @adventure.title %></li>
  <li>By <%= @adventure.author.username %></li>
  <%= link_to "Start", pages_url(1) %>
</ul>

<%= link_to "Back", root_url %>
