<!DOCTYPE html>
<html>
  <head>
    <title>Choose Your Adventure</title>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '122951645071348',
        xfbml      : true,
        version    : 'v2.10'
      });

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response) {
      if (response.status == 'connected') {
        console.log("logged in");
        // if (response.authResponse) {
        //   window.location = '/auth/facebook/callback'
        // }
      } else {
        console.log("not logged in");
      }
    }

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }
    </script>

    <% if logged_in? %>
      <%= current_user.username %>
      <%= button_to "Sign Out", session_url, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_session_url %>
      <%= link_to "Sign Up", new_user_url %>
    <% end %>

    <fb:login-button
      scope="public_profile,email"
      onlogin="checkLoginState();">
    </fb:login-button>

    <%= yield %>
  </body>
</html>
